@using System.Collections
@using Convertify.Controllers

@model ConvertViewModel

@{
	ViewData["Title"] = "Home Page";
}

<div>

	<style>
		span {
			display: inline-block;
			width: 300px;
		}
	</style>

	<div id="bg" class="installer_page">
		<div id="container" style="width: 840px; margin-top: 40px">
			<div id="main" style="width: 830px !important">
				<div id="content">
					<div class="post installer" style="width: 825px !important; padding: 0px 18px 0px 18px;">
						<div style="padding-top: 10px">
							<div>
								<img src="~/images/icons/advancedsettings.png" align="absmiddle" style="width: 48px; height: 48px;float: left;padding-right: 10px;padding-top: 10px" />
								<h3>Convertify</h3>
								<p>Please select to convert.</p>
								<div style="clear:both; border-bottom: 1px dotted #CCCCCC;margin-top: 15px"></div>
							</div>

							<div style="margin-top: 10px;margin-bottom: 10px">
								<ul>
									<ui id="li_email_address" style="width: 385px; display: inline-block; margin-right: 14px">
										<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ToDataModel">
											<img src="~/images/icons/advancedsettings.png" align="absmiddle" style="width: 48px; height: 48px;float: left;padding-right: 10px;padding-top: 10px" />
											<h3>Convert to Data Model</h3>
											<p>Please select for convert to Data Model.</p>
											<div style="clear:both; border-bottom: 1px dotted #CCCCCC;margin-top: 15px"></div>
										</a>
									</ui>
									<ui id="li_email_address" style="width: 385px; display: inline-block">
										<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ToPascalCase">
											<img src="~/images/icons/advancedsettings.png" align="absmiddle" style="width: 48px; height: 48px;float: left;padding-right: 10px;padding-top: 10px" />
											<h3>Convert to Pascal Case</h3>
											<p>Please select for convert to Pascal Case.</p>
											<div style="clear:both; border-bottom: 1px dotted #CCCCCC;margin-top: 15px"></div>
										</a>
									</ui>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
